@font-face {
  font-family: 'Digital';
  src: url('./assets/digital-7.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.screen {
  font-family: 'Digital';
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.figure {
  box-shadow: 9px 9px 25px 0px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
}

.watch {
  width: 450px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 10px;
}

.controls {
  width: 450px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.btn {
  font-size: 2rem;
  width: 120px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:not(:last-child) {
  border-right: 2px solid black;
}
